body {
  overflow-x: hidden;
  /*background: #f9f9f9;
  font-family: 'Ubuntu', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.header .header_right .ul_style li a{
	color: #000;
}
.navbar-toggle {
	font-size: 30px;
	position: relative;
	float: right;
	padding: 1px 6px;
	margin-top: 0px;
	margin-right: 9px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px; 
}
@media (max-width: 767px) {
	.navbar-toggle {
		margin-top: 60px; 
	} 
}
@media (max-width: 1200px) {
	.header .header_right .ul_style li a {
		padding: 5px 10px
	} 
}
.header {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #f7f7f7; 
}
.header .row {
	padding: 0;
	margin: 0; 
}
.header .header_left .logo {
	max-width: 180px;
	display: block; 
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header .header_left .logo {
		padding: 2px 23px 1px 41px; } 
	}
@media (min-width: 768px) and (max-width: 991px) {
	.header .header_left .logo {
		padding: 0px 0px 5px 27px; } 
	}
@media (max-width: 767px) {
	.header .header_left .logo {
		padding: 0px 100px 5px 7px; 
	} 
}
.header .header_right {
	text-align: right; 
}
.header .header_right .ul_style {
	float: none; 
}
.header .header_right .ul_style .active a {
	color: #3c99ea; 
}
.header .header_right .ul_style li {
	display: inline-block;
	float: none; 
}
@media (max-width: 767px) {
	.header .header_right .ul_style li {
		display: block; 
	} 
}
@media (min-width: 768px) and (max-width: 991px) {
	.header .header_right .ul_style li a {
		padding: 5px 12px;
		font-size: 14px; 
	} 
}
@media (max-width: 767px) {
	.header .header_right .ul_style li a {
		padding: 15px 34px;
		display: block; 
		text-align: left;
		margin-bottom: 10px
	}
	.steps .steps_header {width: 100%; text-align: center}
	.person_from a {
		word-break: break-word;
	}
	.review .client .review_content .review_person .person_text{float: none}
	.title {font-size:24px}
	.home-page .col-xs-12{text-align: center}
	.social_links{display: table; margin: 0 auto}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{margin: 0 auto}
	.header .header_right .ul_style li{margin-right: 0px !important}
	.header .header_right .ul_style{margin-left: 0 !important; margin-right: 0 !important}
}
.header .header_right .ul_style li a:hover {
	color: #3c99ea;
}
.home-page a.bt {
	padding: 14px 30px;
	text-align: center;
	border-radius: 1px;
	border-radius: 4px;
}
		  
.header .header_right .ul_style li .b_sign_in {
	border: 1.5px solid #16133e;
	background: none;
	color:inherit;
}
.header .header_right .ul_style li .b_sign_in:hover{
	border: 1.5px solid #337ab7;
}
.header .header_right .ul_style li .b_get_start:hover{
	background: #fff;
}
.header .header_right .ul_style li .b_get_start{
	border: 1.5px solid #16133e;
	background: #16133e;
	color: #fff;
}
a:hover{
	
	text-decoration: none;
}
a.bt.banner_button1:hover{
	background: #fff;
}
a.bt.banner_button2:hover{
	background: #007ffc;
	color: #fff;
}
.temp_btn:hover{
	background: #fff;
}
.onl_link a:hover{
	color: #337ab7;
}
a.btn.banner_button2.btn-cta {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.btn-cta:hover{
	color: #fff;
}
.banner_button2:hover{
	background: #16133e;
}
@media (min-width: 768px) and (max-width: 991px) {
	.header .header_right .ul_style li .get_start {
		padding: 9px 24px;
		font-size: 14px;
		margin: -6px 0 0 12px; 
	} 
}

.banner {
	padding: 40px 0;
}
@media (min-width: 991px) {
	.banner {
		padding-bottom: 90px !important; 
	} 
}
.title{
	font-size: 41px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.banner .banner_header {
	padding: 15px;
	color: #16133e;
	font-weight: 800; 
}
.title1{
	
}
.temp-content{
	font-family: 'Open Sans', sans-serif;
	padding-top: 5px;
    padding-bottom: 30px;
	color: #5a7184;
}
.temp_btn{
	border: 1.5px solid #fff;
	background: none;
	color:inherit;
}
.temp_btn_wr{
	    margin-top: 3%;
}
.temp-text{
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
    margin-bottom: 5%;
}
.temp-text{
	color: #fff;
}
.temp-text:hover{
	color: #007ffc;
	text-decoration: none;
}
@media (max-width: 767px) {
	.banner .banner_header {
		font-size: 25px; 
	} 
}
.banner .banner_about {
	color: #183b56;
	padding: 15px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif; 
}
@media (max-width: 767px) {
	.banner .banner_about {
		font-size: 16px; 
	} 
}

.banner .banner_img img {
	margin: 0 auto; 
}

.middle_menu {
	background-color: #16133e;
	color: #fff;
	padding: 20px 0; 
}
.middle_menu .middle_content {
	text-align: center; 
}
@media (min-width: 320px) and (max-width: 767px) {
	.middle_menu .middle_content {
		text-align: left; 
	} 
}
.middle_menu .middle_content .check_img {
	display: inline-block;
	padding: 15px 10px; 
}
.middle_menu .middle_content .check_text {
	display: inline-block;
	padding: 15px 0;
	font-size: 16px;
	color: #fff;
	font-weight: 600; 
}
@media (min-width: 768px) and (max-width: 991px) {
	.middle_menu .middle_content .check_text {
		display: block; 
	} 
}
@media (min-width: 992px) and (max-width: 1199px) {
	.middle_menu .middle_content .check_text {
		font-size: 12px; 
	} 
}
@media only screen and (max-width: 375px) {
	.middle_menu .middle_content .check_text {
		font-size: 13px; 
	} 
}
.footer {
	padding: 30px 0;
	border-top: 1px solid #c2d1d9;
	border-bottom: 1px solid #c2d1d9; 
}
.footer .footer_block {
	border-right: 1px solid #c2d1d9; 
}
@media (min-width: 768px) {
	.footer .footer_block {
	min-height: 200px; } 
}
.footer .footer_block .footer_head {
	padding: 10px 15px 5px;
	color: #505d68;
	font-size: 16px;
	font-weight: 700; 
}
.footer .footer_block .footer_logo {
	padding: 15px; 
}
.footer .footer_block .footer_text {
	color: #67747f;
	padding: 3px 15px 3px;
	cursor: pointer;
	font-size: 14px;
	display: block; 
}
.footer .footer_block .social_links ul li {
	float: left;
	margin: 15px;
	font-size: 20px;
	cursor: pointer; 
}
.footer .last_child {
	border-right: none; 
}

.contact_page_footer {
	border-top: none;
	background-color: #fff; 
}

.allright_reserved {
	background-color: #fff; 
}
.allright_reserved .allright_reserved_text {
	color: #67747f;
	padding: 5px 15px 5px;
	font-size: 14px;
}
.allright_reserved .last_text {
	float: right; 
}
@media (min-width: 320px) and (max-width: 767px) {
	.review_content {
		width: auto !important; 
	}
	.review_content .review_person {
		padding: 15px !important; 
	}
	.review_content .review_paragraph {
		padding: 15px !important; 
	}
	.footer_block {
		border: none !important; 
	}
	.last_text {
		float: none !important; 
	}
	.slider_img {
		display: none !important; 
	}
	.slider_img_2 {
		display: none !important; 
	} 
}
@media (min-width: 768px) and (max-width: 991px) {
	.review_content {
		width: 300px !important; }
	.review_content .review_person {
		padding: 15px !important; 
	}
	.review_content .review_paragraph {
		padding: 15px !important; 
	}
	.footer_block {
		min-height: 325px !important; 
	} 
}
@media (min-width: 992px) and (max-width: 1199px) {
	.review_content {
		width: 400px !important; 
	}
	.review_content .review_person {
		padding: 15px 30px !important; 
	}
	.review_content .review_paragraph {
		padding: 15px 30px !important; 
	} 
}
@media (max-width: 767px) {
	.slick-prev {
		left: 20px; 
	}
	.slick-next {
		right: 20px; 
	} 
}
.slick-prev:before, .slick-next:before {
	color: #ccc !important; 
	opacity: 1 !important;
}

/* New style */
.slick-prev:before, .slick-next:before {
	font-size: 35px !important;
	content: " " !important;
	background-image: url("../images/Left Arrow.svg");
	width: 30px;
	height: 30px;
	display: block;
	background-size: cover; 
}

.slick-next:before {
	background-image: url("../images/Right Arrow.svg"); 
}
.slick-slide {
	width: 100%;
}
.slick-initialized .slick-slide {
	outline: 0 !important; 
}


.homeprosnow {
	padding-top: 15px;
	display: block; 
}
.slick-next {
	right: 0 !important; 
}
.slick-prev {
	left: 0 !important; 
}
.slick-prev, .slick-next {
	width: 30px !important;
	height: 30px !important;
	z-index: 99; 
}

@media (max-width: 767px) {
  .client {
    margin: 0 auto;
    max-width: calc(100% - 60px); 
	}

  .slick-next {
    right: -20px !important; }

  .slick-prev {
    left: -20px !important; } 
}
@media (max-width: 575px) {
	.review .client .review_content {
		height: 400px !important; 
	}
	.banner_img {
		margin-top: 30px; 
	} 
}
.steps {
	padding: 50px 0; 
}
.steps .steps_header {
	font-size: 30px;
	font-weight: 700;
	color: #0b142d;
	text-align: center;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 5%;
}
@media (max-width: 767px) {
	.steps .steps_header {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 25px; 
	} 
}
.steps .rule {
	border-top: 5px solid #deecfa;
	width: 140px;
	margin: 0 auto;
	padding-bottom: 70px; 
}
.steps .steps_text {
	font-family: 'Open Sans', sans-serif;
	color: #0b142d;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 15px; 
}
.steps .steps_paragraph {
	color: #5a6874;
	padding: 10px 15px; 
}


@media (max-width: 767px) {
	.review .steps_header {
		font-size: 25px; 
	} 
}


.modal-content .modal-header {
	border: none; 
 }
.modal-content .modal-body {
	margin: 0 15px; 
}
.modal-content .modal-body .login_header {
	color: #142e45;
	font-size: 22px;
	text-align: center;
	font-weight: 600;
	padding: 15px; 
}
.modal-content .modal-body .input-group {
	margin: 20px 0;
	height: 50px;
	border: 1px solid #ececec;
	border-radius: 2px; 
}
.modal-content .modal-body .input-group .input-group-addon {
	border: none;
	height: 50px;
	border-radius: 0;
	background-color: #f4f4f4; 
}
.modal-content .modal-body .input-group .input-group-addon img {
	width: 28px; 
}
.modal-content .modal-body .input-group .form-control {
	border: none;
	border-radius: 0;
	border-top: none;
	height: 50px;
	background-color: #f4f4f4;
	font-size: 16px;
	color: #adb6bf; 
}
.modal-content .modal-body .login_button {
	padding: 17px 35px;
	font-size: 17px;
	border: none;
	border-radius: 2px;
	background-image: linear-gradient(-90deg, #2ab7de, #497af3);
	color: white;
	width: 100%;
	box-shadow: -1px 6px 12px -3px #888888; 
}
.modal-content .modal-body .modal_registar_link {
	padding: 30px 0; 
}
.modal-content .modal-body .modal_registar_link .forget_password {
	font-weight: 600;
	float: left;
	color: #83909b;
	font-size: 17px; 
}
.modal-content .modal-body .modal_registar_link .forget_password a {
	text-decoration: none;
	color: #142e45; 
}
.modal-content .modal-body .modal_registar_link .get_started_link {
	float: right; 
}
.modal-content .recover_password {
	display: none; 
}

.contact_page {
	background-color: #fafaff; 
}
.banner {
	padding: 40px 0;
}
.banner .features_header {
	color: #0b142d;
	padding: 15px 15px 40px;
	font-size: 40px;
	font-weight: 800;
	text-align: center; 
}
@media (max-width: 767px) {
	.banner .features_header {
		font-size: 25px;
		padding: 10px 15px 10px; 
	} 
}
.banner .quarts .quarts_img {
	float: left;
	padding: 40px 15px 0; 
}
.banner .quarts .quarts_about {
	float: left;
	width: calc(100% - 70px); 
}
.banner .quarts .quarts_about .banner_about {
	color: #5b6975;
	padding: 40px 15px 0;
	font-size: 18px;
}
@media (max-width: 767px) {
	.banner .quarts .quarts_about .banner_about {
		padding: 0px 15px 0; 
	} 
}
.banner .quarts .quarts_about .client_part {
	padding: 50px 15px; 
}
.banner .quarts .quarts_about .client_part .client_name {
	color: #505d68;
	font-size: 20px;
	font-weight: 700; 
}
.banner .quarts .quarts_about .client_part .client_web {
	font-size: 16px;
}
.banner .quarts .quarts_about .client_part .client_web a {
	text-decoration: none;
	color: #a5b1ba; 
}
.banner .banner_img img {
	margin: 0 auto; 
}
@media (max-width: 767px) {
	.banner .quarts_img {
		padding-top: 3px !important; 
	} 
}
.navbar {
	margin-bottom: 0; 
}
.navbar .container-fluid {
	padding: 0; 
}
.navbar .navbar-collapse {
	padding-right: 0; 
}

@media (min-width: 320px) and (max-width: 767px) {
	.menu_button {
		position: absolute;
		right: 15px;
		top: -63px; 
	} 
}
.col-half-offset{
    margin-left: 3.166666667%;
}
.col-half-1{
	 margin-left: 1.166666667%
}
.banner_button1{
	background: #007ffc;
	color: #fff;
	border: 1.5px solid #007ffc;
	margin-right: 2%;
}
.banner_button2{
	background: #fff;
	color: #007ffc;
	border: 1.5px solid #007ffc;
}
.btn-wrapper{
	padding: 15px;
    margin-top: 3%;
}
.onl_wrapper{
	padding: 35px;
	border-radius: 4px; 
	border: 1.5px solid #a1c1dc30;
}
.onl_name{
	font-size: 24px;
	margin-bottom: 5px;
	color: #16133e;
}
.onl_paragraph{
	margin-bottom: 5%;
	color: #16133e;
}
.onl_link a{
	color: #007ffc;
}
.fea-content{
	margin-top: 5%;
}
.cta_wrapper{
	background-image: url("../images/bg-cta.png");
    background-repeat: no-repeat;
	border-radius: 4px; 
	padding-top: 4%;
	padding-bottom: 4%;
	margin: 0 auto;
	text-align: center;
    margin-bottom: 6%;
}
.cta_text{
	color: #fff;
	margin-bottom: 3%;
}
/*Re section*/
.re-section{
	background: #16133e;
	padding-top: 3%;
    padding-bottom: 3%;
}
.resec-text{
	color: #fff;
	margin-top: 7%;
}
.btn-resec{
	background: #16133e;
	border-radius: 4px; 
	border: 1.5px solid #fff;
	
}

/**/

.banner-img{
	margin: 0 auto;
}
.header .header_right .ul_style li a:hover {
    color: #3c99ea;
    background-color: #fff;
}
.res-btn{
	color: #fff;
}
svg.bi.bi-star-fill{
	color: #ffc20b;
}
.tes-ctn{
	font-style: italic;
	color: #fff;
}
.name{
	color: #fff;
    margin-top: 7%;
}
.res-img{
  margin: 20px;
  position: relative;
  height: 500px;
	
}
.res-img img{
	width: 85%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.rec-content{
	color: #fff;
	margin-top:2%;
}
.star_wrapper{
	margin-top: 1%;
    margin-bottom: 1%;
}

/**/
.review {
    background-color: #fafaff;
    padding: 30px 0;
}
.review .steps_header {
    text-align: center;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 0px 15px 30px 15px;
}
.review .rule {
    border-top: 5px solid #3a98e9;
    width: 140px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.review .client {
    position: relative;
}
.review .client .review_content {
    background-color: #ffffff;
    border: 1px solid #adadb0;
    border-radius: 3px;
    width: 460px;
    margin: 10px auto;
    height: 320px;
}
.review .client .review_content .review_person {
    padding: 50px 50px 20px;
}
.review .client .review_content .review_person .person_img {
    height: 67px;
    width: 67px;
    float: left;
    margin: 10px 0;
}
.review .client .review_content .review_person .person_text {
    float: left;
}
.review .client .review_content .review_paragraph {
    padding: 15px 50px 30px;
    color: #57646e;
    font-size: 14px;
}
.review .client .review_content .review_person .person_text .person_name {
    padding: 10px 15px 5px;
    color: #2a2a37;
    font-size: 16px;
    font-weight: 700;
}
.review .client .review_content .review_person .person_text .person_from {
    padding: 0px 15px 10px;
    color: #a7b4bc;
    font-size: 14px;
}
.person_from a{
	color: #337ab7;
}
.onl_img img{
	/* border: 1.5px solid #a1c1dc30; */
    padding: 10px;
}